@model TrueChat.ViewModels.LoginViewModel

<div class="root">
    <div class="center-lout">
        <div class="center-container">
            <h2>Log In</h2>
            <form class="form-container" method="post" asp-controller="Auth" asp-action="Login"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <label asp-for="Username"></label><br />
                    <input asp-for="Username" />
                    <span asp-validation-for="Username"></span>
                </div>
                <div>
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <label asp-for="RememberMe"></label><br />
                    <input asp-for="RememberMe" />
                </div>
                <div>
                    <input class="btn" type="submit" value="Log In" />
                    <a href="/auth/register">Register</a>
                </div>
            </form>
        </div>        
    </div>
</div>

<link rel="stylesheet" href="~/style.css">

